<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center><h1>All categories</h1><hr></center>
<a href="../index.html">Home</a>
    <h3>Today's collection</h3>
    <center><img src="../images/img all . home page .jpg" " alt="network problume" height="250px" width="1000px"></center> <hr>

    <h3>Today's collection</h3>

    <hr> <p><img src="../images/img 3 jeans .jpg" alt="network problume" height="280px" align="left"><br><br><br><br><br><br><br><br>><h3> <strong>jeans</strong> </h3> <h4> $60 <font color="red"><sub><del>$50</del></sub></font></h4></p> <br><hr>
 <hr><p><img src="../images/img shoes2 .jpg" alt="network problume" height="280px" align="left"><br><br><br><br><br><br><br><br>><h3> <strong>Shoes</strong> </h3> <h4> $60 <font color="red"><sub><del>$70</del></sub></font></h4></p><br><hr>
 
    <hr><p><img src="../images/img 4 pents .jpg" alt="network problume" height="280px" align="left"><br><br><br><br><br><br><br><br>><h3> <strong>Pant</strong> </h3> <h4> $50 <font color="red"><sub><del>$700</del></sub></font></h4></p><br><hr>
 
    <hr><p><img src="../images/img shoes3 .jpg" alt="network problume" height="280px" align="left"><br><br><br><br><br><br><br><br>><h3> <strong>Shoes</strong> </h3> <h4> $70 <font color="red"><sub><del>$100</del></sub></font></h4></p><br><hr>
 
    <hr><p><img src="../images/img 4 shirts .jpg" alt="network problume" height="280px" align="left"><br><br><br><br><br><br><br><br>><h3> <strong>Shirt</strong> </h3> <h4> $35 <font color="red"><sub><del>$60</del></sub></font></h4></p><br><hr>
 <hr><p><img src="../images/img watch1 .jpg" alt="network problume" height="280px" align="left"><br><br><br><br><br><br><br><br>><h3> <strong>Watch</strong> </h3> <h4> $20 <font color="red"><sub><del>$30</del></sub></font></h4></p><br><hr>
<hr><p><img src="../images/img shoes1 .jpg" alt="network problume" height="280px" align="left"><br><br><br><br><br><br><br><br>><h3><strong>Shoes</strong> </h3> <h4> $50 <font color="red"><sub><del>$60</del></sub></font></h4></p><br><hr>

    <hr><p><img src="../images/img shirt1 .jpg" alt="network problume" height="280px" align="left"><br><br><br><br><br><br><br><br>><h3><strong>Shirt</strong> </h3> <h4> $30 <font color="red"><sub><del>$50</del></sub></font></h4></p><br><hr>
 <hr><p><img src="../images/img watch2 .jpg" alt="network problume" height="280px" align="left"><br><br><br><br><br><br><br><br>><h3> <strong>Watch</strong> </h3> <h4> $40 <font color="red"><sub><del>$50</del></sub></font></h4></p><br><hr>
    <hr><p><img src="../images/img jaket5 .jpg" alt="network problume" height="280px" align="left"><br><br><br><br><br><br><br><br>><h3> <strong>Jacket</strong></h3> <h4> $30 <font color="red"><sub><del>$40</del></sub></font></h4></p><br><hr>
    <hr><p><img src="../images/img jaket4 .jpg " alt="network problume" height="280px" align="left"><br><br><br><br><br><br><br><br>><h3><strong>Jacket</strong> </h3> <h4> $40 <font color="red"><sub><del>$50</del></sub></font></h4></p><br><hr> 
    
    <hr><p><img src="../images/img pentor shirt2 .jpg" alt="network problume" height="280px" align="left"><br><br><br><br><br><br><br><br>><h3><strong>Pant or Shirt</strong> </h3> <h4> $70 <font color="red"><sub><del>$100</del></sub></font></h4></p><br><hr> 
  <hr><p><img src="../images/img clothes3 .jpg" alt="network problume" height="280px" align="left"><br><br><br><br><br><br><br><br>><h3> Unstitched Wash n Wear <br> Suit </h3> <h4> $15 <font color="red"><sub><del>$20</del></sub></font></h4></p><br><hr>

    <hr><p><img src="../images/img shoes5 .jpg" alt="network problume" height="280px" align="left"><br><br><br><br><br><br><br><br>><h3><strong>Shoes</strong> <h4> $40 <font color="red"><sub><del>$60</del></sub></font></h4></p><br><hr>
<hr><p><img src="../images/img jaket3 .jpg" alt="network problume" height="280px" align="left"><br><br><br><br><br><br><br><br>><h3> <strong>Jacket</strong></h3> <h4> $60 <font color="red"><sub><del>$80</del></sub></font></h4></p><br><hr>
 
   
  
    <hr><p><img src="../images/img clothes2 .jpg" alt="network problume" height="280px" align="left"><br><br><br><br><br><br><br><br>><h3> Unstitched Men's Cotton Suit <br> Suit </h3> <h4> $50 <font color="red"><sub><del>$60</del></sub></font></h4></p><br><hr>
 <hr><p><img src="../images/img watch4 .jpg" alt="network problume" height="280px" align="left"><br><br><br><br><br><br><br><br>><h3> <strong>Watch</strong> </h3> <h4> $50 <font color="red"><sub><del>$60</del></sub></font></h4></p><br><hr>
   
    <hr><p><img src="../images/img clothes1 .jpg" alt="network problume" height="280px" align="left"><br><br><br><br><br><br><br><br>><h3> Unstitched Wash n Wear <br> Suit </h3> <h4> $60 <font color="red"><sub><del>$80</del></sub></font></h4></p><br><hr>
 
    <hr><p><img src="../images/img jaket1 .jpg" alt="network problume" height="280px" align="left"><br><br><br><br><br><br><br><br>><h3> <strong>Jacket</strong></h3> <h4> $15 <font color="red"><sub><del>$20</del></sub></font></h4></p><br><hr>

    <hr><p><img src="../images/img jaket2 .jpg" alt="network problume" height="280px" align="left"><br><br><br><br><br><br><br><br>><h3> <strong>Jacket</strong> </h3> <h4> $50 <font color="red"><sub><del>$60</del></sub></font></h4></p><br><hr>
  <hr><p><img src="../images/img watch3 .jpg" alt="network problume" height="280px" align="left"><br><br><br><br><br><br><br><br>><h3> <strong>Watch</strong></h3> <h4> $30 <font color="red"><sub><del>$40</del></sub></font></h4></p><br><hr>
   
    
   
    
   
      
      
     
      
   
   <center><a href="../index.html">Home</a></center>
</body>
</html>