<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center><h1>Shoes</h1><hr></center>

    <center><img src="../images/img SHOES home page .jpg" alt="network problume" height="250px" width="1000px"></center> <hr>

    <h3>Today's collection</h3>

   <hr><p><img src="../images/img shoes1 .jpg" alt="network problume" height="280px" align="left"><br><br><br><br><br><br><br><br>><h3><strong>Shoes</strong> </h3> <h4> $50 <font color="red"><sub><del>$60</del></sub></font></h4></p><br><hr>

   <hr><p><img src="../images/img shoes2 .jpg" alt="network problume" height="280px" align="left"><br><br><br><br><br><br><br><br>><h3> <strong>Shoes</strong> </h3> <h4> $60 <font color="red"><sub><del>$70</del></sub></font></h4></p><br><hr>

   <hr><p><img src="../images/img shoes3 .jpg" alt="network problume" height="280px" align="left"><br><br><br><br><br><br><br><br>><h3> <strong>Shoes</strong> </h3> <h4> $70 <font color="red"><sub><del>$100</del></sub></font></h4></p><br><hr>

   <hr><p><img src="../images/img shoes5 .jpg" alt="network problume" height="280px" align="left"><br><br><br><br><br><br><br><br>><h3><strong>Shoes</strong> <h4> $40 <font color="red"><sub><del>$60</del></sub></font></h4></p><br><hr>

   <center><a href="../index.html">Home</a></center>
</body>
</html>